Repository waterben/LineExtraction: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yamllint, actionlint, ruff-check, ruff-format

clang-format:
  name: Format C++ files
  entry: clang-format
  language: system
  args:
  - -i
  - -Werror
  - -fallback-style=none

yamllint:
  name: Lint YAML files
  description: This hook runs yamllint.
  entry: yamllint
  language: python
  args:
  - --format
  - parsable
  - --strict
  - -c
  - .yamllint.yml
  additional_dependencies: []

actionlint:
  name: Lint GitHub Workflows
  description: Runs actionlint to lint GitHub Actions workflow files
  language: system
  entry: env SHELLCHECK_OPTS='--severity=warning --exclude=SC2215' actionlint

ruff-check:
  name: ruff check
  description: Run 'ruff check'
  entry: ruff
  language: python
  args:
  - check
  - --force-exclude

ruff-format:
  name: ruff format
  description: Run 'ruff format'
  entry: ruff
  language: python
  args:
  - format
  - --force-exclude

Add github configs
  .github/copilot-instructions.md
  .github/instructions/cpp.instructions.md
  .github/instructions/python.instructions.md
  .github/pr_labeler_config.yml
  .github/pull_request_template.md
  .github/release.yml
Due: yamllint

Remove warnings part 2
  libs/geometry/include/geometry/camera.hpp
  libs/geometry/include/geometry/cameracv.hpp
  libs/geometry/include/geometry/draw.hpp
  libs/geometry/include/geometry/line.hpp
  libs/geometry/include/geometry/pose.hpp
  libs/geometry/src/render_gl.cpp
  libs/imgproc/include/imgproc/impl/PhaseCong.hpp
  libs/imgproc/src/PhaseCongObj.cpp
  libs/imgproc/src/logGaborFilter_emxutil.cpp
  libs/lsd/include/lsd/impl/kht.h
  libs/lsd/src/kht_impl.cpp
  libs/lsd/src/lsd_fgioi_impl.cpp
  libs/utility/include/utility/console_app.hpp
  libs/utility/include/utility/console_app_interface.hpp
  libs/utility/include/utility/option_manager.hpp
  libs/utility/include/utility/options.hpp
  libs/utility/include/utility/performance.hpp
  libs/utility/include/utility/string_table.hpp
  libs/utility/include/utility/task.hpp
  libs/utility/include/utility/value.hpp
  libs/utility/include/utility/value_manager.hpp
  libs/utility/src/high_prio.cpp
  libs/utility/src/performance.cpp
  libs/utility/src/response_convert.cpp
Due: clang-format

Fixed imgproc warnings
  libs/imgproc/include/imgproc/rcmg.hpp
  libs/imgproc/include/imgproc/susan.hpp
  libs/imgproc/src/acos.cpp
  libs/imgproc/src/atan.cpp
  libs/imgproc/src/cos.cpp
  libs/imgproc/src/exp.cpp
  libs/imgproc/src/fft2.cpp
  libs/imgproc/src/filtergrid.cpp
  libs/imgproc/src/ifft2.cpp
  libs/imgproc/src/ipermute.cpp
  libs/imgproc/src/logGaborFilter.cpp
  libs/imgproc/src/logGaborFilter_emxAPI.cpp
  libs/imgproc/src/logGaborFilter_emxutil.cpp
  libs/imgproc/src/logGaborFilter_initialize.cpp
  libs/imgproc/src/logGaborFilter_rtwutil.cpp
  libs/imgproc/src/logGaborFilter_terminate.cpp
  libs/imgproc/src/lowpassfilter.cpp
  libs/imgproc/src/median.cpp
  libs/imgproc/src/meshgrid.cpp
  libs/imgproc/src/mod.cpp
  libs/imgproc/src/perfft2.cpp
  libs/imgproc/src/phasecong.cpp
  libs/imgproc/src/power.cpp
  libs/imgproc/src/rdivide.cpp
  libs/imgproc/src/rtGetInf.cpp
  libs/imgproc/src/rtGetNaN.cpp
  libs/imgproc/src/rt_nonfinite.cpp
  libs/imgproc/src/sqrt.cpp
Due: clang-format

Fix warnings for eval lib
  libs/eval/include/eval/cv_data_provider.hpp
  libs/eval/src/performance.cpp
Due: clang-format

Fix formatting and warnings for lsd part 2
  libs/lsd/include/lsd/impl/lsd_edlz.hpp
  libs/lsd/src/kht_impl.cpp
  libs/lsd/src/lsd_edlz_impl.cpp
  libs/lsd/src/lsd_fgioi_impl.cpp
Due: clang-format

Fix all warnings for lib lsd
  libs/lsd/src/kht_impl.cpp
  libs/lsd/src/lsd_fgioi_impl.cpp
Due: clang-format

Add launch task for cmake
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

Update libs/geometry/include/geometry/base.hpp
  libs/geometry/include/geometry/base.hpp
Due: clang-format

Fix minor issus
  libs/edge/include/edge/tools.hpp
  libs/geometry/include/geometry/base.hpp
Due: clang-format

Fix third-party warnings and remove unused code
  third-party/qplot/CMakeLists.txt
  third-party/qplot/src/GPL.txt
  third-party/qplot/src/examples/interactions/interaction-example.pro
  third-party/qplot/src/examples/interactions/main.cpp
  third-party/qplot/src/examples/interactions/mainwindow.cpp
  third-party/qplot/src/examples/interactions/mainwindow.h
  third-party/qplot/src/examples/interactions/mainwindow.ui
  third-party/qplot/src/examples/plots/balboa.jpg
  third-party/qplot/src/examples/plots/main.cpp
  third-party/qplot/src/examples/plots/mainwindow.cpp
  third-party/qplot/src/examples/plots/mainwindow.h
  third-party/qplot/src/examples/plots/mainwindow.ui
  third-party/qplot/src/examples/plots/plot-examples.pro
  third-party/qplot/src/examples/plots/solarpanels.jpg
  third-party/qplot/src/examples/plots/sun.png
  third-party/qplot/src/examples/scrollbar-axis-range-control/main.cpp
  third-party/qplot/src/examples/scrollbar-axis-range-control/mainwindow.cpp
  third-party/qplot/src/examples/scrollbar-axis-range-control/mainwindow.h
  third-party/qplot/src/examples/scrollbar-axis-range-control/mainwindow.ui
  third-party/qplot/src/examples/scrollbar-axis-range-control/scrollbar-axis-range-control.pro
  third-party/qplot/src/examples/text-document-integration/main.cpp
  third-party/qplot/src/examples/text-document-integration/mainwindow.cpp
  third-party/qplot/src/examples/text-document-integration/mainwindow.h
  third-party/qplot/src/examples/text-document-integration/mainwindow.ui
  third-party/qplot/src/examples/text-document-integration/qcpdocumentobject.cpp
  third-party/qplot/src/examples/text-document-integration/qcpdocumentobject.h
  third-party/qplot/src/examples/text-document-integration/text-document-integration.pro
  third-party/qplot3d/CMakeLists.txt
  third-party/qplot3d/src/qwt3d_autoscaler.cpp
  third-party/qplot3d/src/qwt3d_axis.cpp
  third-party/qplot3d/src/qwt3d_io.cpp
  third-party/qplot3d/src/qwt3d_surfaceplot.cpp
Due: clang-format

Fix app analyzer warnings part 1
  apps/line_analyzer/controlwindow.cpp
  apps/line_analyzer/controlwindow.h
  apps/line_analyzer/helpers.h
  apps/line_analyzer/latool.h
  apps/line_analyzer/pofuncplot.cpp
  apps/line_analyzer/pofuncplot.h
  apps/line_analyzer/precisionoptimizer.cpp
  apps/line_analyzer/precisionoptimizer.h
  apps/line_analyzer/preprocessing.h
  apps/line_analyzer/profileanalyzer.cpp
  apps/line_analyzer/profileanalyzer.h
  apps/line_analyzer/quiver.cpp
  apps/line_analyzer/quiver.h
  libs/edge/include/edge/edge_drawing.hpp
  libs/edge/include/edge/edge_linking.hpp
  libs/edge/include/edge/edge_pattern.hpp
  libs/edge/include/edge/edge_segment.hpp
  libs/edge/include/edge/edge_simple.hpp
  libs/edge/include/edge/split.hpp
  libs/imgproc/include/imgproc/derivative.hpp
  libs/imgproc/include/imgproc/interpolate.hpp
  libs/imgproc/include/imgproc/mean.hpp
  libs/lsd/include/lsd/lsd_cc.hpp
  libs/lsd/include/lsd/lsd_cp.hpp
  third-party/qplot/include/qplot/PlotWindow.h
  third-party/qplot/include/qplot/qcustomplot.h
  third-party/qplot3d/include/qplot3d/qwt3d_color.h
  third-party/qplot3d/include/qplot3d/qwt3d_enrichment.h
  third-party/qplot3d/include/qplot3d/qwt3d_enrichment_std.h
  third-party/qplot3d/include/qplot3d/qwt3d_gridmapping.h
  third-party/qplot3d/include/qplot3d/qwt3d_io.h
  third-party/qplot3d/include/qplot3d/qwt3d_openglhelper.h
  third-party/qplot3d/include/qplot3d/qwt3d_plot.h
  third-party/qplot3d/include/qplot3d/qwt3d_surfaceplot.h
  third-party/qplot3d/include/qplot3d/qwt3d_types.h
  third-party/qplot3d/src/qwt3d_enrichment_std.cpp
Due: clang-format

Fix app analyzer warnings part 2
  apps/line_analyzer/controlwindow.cpp
  libs/edge/include/edge/edge_drawing.hpp
  libs/edge/include/edge/edge_pattern.hpp
  libs/edge/include/edge/edge_simple.hpp
  libs/edge/include/edge/index.hpp
  libs/edge/include/edge/line_tracer.hpp
  libs/edge/include/edge/nms.hpp
  libs/edge/include/edge/split.hpp
  libs/edge/include/edge/zc.hpp
  libs/imgproc/include/imgproc/image_operator.hpp
  libs/imgproc/include/imgproc/rcmg.hpp
  libs/imgproc/include/imgproc/susan.hpp
  libs/lsd/include/lsd/ld_base.hpp
  libs/lsd/include/lsd/lsd_base.hpp
  libs/lsd/include/lsd/lsd_burns.hpp
  libs/lsd/include/lsd/lsd_cc.hpp
  libs/lsd/include/lsd/lsd_cc_base.hpp
  libs/lsd/include/lsd/lsd_cp.hpp
  libs/lsd/include/lsd/lsd_edlz.hpp
  libs/lsd/include/lsd/lsd_edta.hpp
  libs/lsd/include/lsd/lsd_el.hpp
  libs/lsd/include/lsd/lsd_ep.hpp
  libs/lsd/include/lsd/lsd_fbw.hpp
  libs/lsd/include/lsd/lsd_fgioi.hpp
  libs/lsd/include/lsd/lsd_hcv.hpp
  libs/lsd/include/lsd/lsd_ld.hpp
Due: clang-format

Remove warning up to -Wall
  .vscode/settings.json
  CMakeLists.txt
  apps/line_analyzer/CMakeLists.txt
  evaluation/performance/CMakeLists.txt
  evaluation/thesis/CMakeLists.txt
  evaluation/thesis/old/CMakeLists.txt
  examples/edge/CMakeLists.txt
  examples/edge/nfa_test.cpp
  examples/edge/pattern_test.cpp
  examples/geometry/CMakeLists.txt
  examples/imgproc/CMakeLists.txt
  examples/imgproc/pyramid_test.cpp
  examples/lfd/CMakeLists.txt
  examples/lsd/CMakeLists.txt
  examples/other/CMakeLists.txt
  examples/qt/CMakeLists.txt
  examples/thesis/CMakeLists.txt
  examples/thesis/edge_seg.cpp
  libs/edge/CMakeLists.txt
  libs/edge/tests/test_index.cpp
  libs/edge/tests/test_zc.cpp
  libs/eval/CMakeLists.txt
  libs/geometry/CMakeLists.txt
  libs/imgproc/CMakeLists.txt
  libs/imgproc/include/imgproc/pyramid.hpp
  libs/lfd/CMakeLists.txt
  libs/lsd/CMakeLists.txt
  libs/utility/CMakeLists.txt
  third-party/qplot/CMakeLists.txt
  tools/cmake/LineExtractionUtils.cmake
Due: clang-format

Fix warning up to -Wextra
  evaluation/thesis/gradient_orientation.cpp
  evaluation/thesis/gradient_performance.cpp
  evaluation/thesis/image_denoise.cpp
  evaluation/thesis/old/line_fit_profiling.cpp
  evaluation/thesis/old/nms_results.cpp
  evaluation/thesis/old/threshold_results.cpp
  evaluation/thesis/phase_dc.cpp
  evaluation/thesis/spe_precision.cpp
  examples/edge/edge_precision.cpp
  examples/geometry/gt_test.cpp
  examples/geometry/poly_test.cpp
  examples/geometry/stereo_pluecker_test.cpp
  examples/imgproc/steer_test.cpp
  examples/lsd/lsd_nfa.cpp
  examples/thesis/pyramid.cpp
  libs/edge/include/edge/edge_source.hpp
  libs/edge/include/edge/fit.hpp
  libs/edge/include/edge/nfa.hpp
  libs/edge/include/edge/split.hpp
  libs/edge/tests/test_nms.cpp
  libs/eval/include/eval/task.hpp
  libs/geometry/include/geometry/camera.hpp
  libs/geometry/include/geometry/draw.hpp
  libs/lfd/include/lfd/GenericDescriptor.hpp
  libs/lfd/include/lfd/StereoLineMatcher.hpp
Due: clang-format

Fix warnings up to -Wsign-conversion
  evaluation/performance/gpuConv.cpp
  evaluation/performance/gpuFFT.cpp
  evaluation/performance/gradient.cpp
  evaluation/performance/line_fit.cpp
  evaluation/performance/lsd.cpp
  evaluation/performance/main.cpp
  evaluation/performance/nms.cpp
  evaluation/performance/segment.cpp
  evaluation/performance/segment_eval.cpp
  evaluation/performance/spe.cpp
  evaluation/performance/split.cpp
  evaluation/performance/tests/gpuConv.cpp
  evaluation/performance/tests/gpuFFT.cpp
  evaluation/performance/tests/gradient.cpp
  evaluation/performance/tests/line_fit.cpp
  evaluation/performance/tests/lsd.cpp
  evaluation/performance/tests/nms.cpp
  evaluation/performance/tests/segment.cpp
  evaluation/performance/tests/segment_eval.cpp
  evaluation/performance/tests/spe.cpp
  evaluation/performance/tests/split.cpp
  evaluation/performance/tests/threshold.cpp
  evaluation/performance/threshold.cpp
  examples/lfd/stereo_match_test.cpp
  examples/lsd/lsd.cpp
  examples/lsd/lsd_edge.cpp
  libs/edge/include/edge/split.hpp
  libs/edge/tests/test_index.cpp
  libs/geometry/include/geometry/draw.hpp
  libs/lfd/include/lfd/FeatureMatcher.hpp
  libs/lfd/include/lfd/GenericDescriptor.hpp
  libs/lfd/include/lfd/LRDescriptor.hpp
  libs/lfd/include/lfd/StereoLineFilter.hpp
  libs/lfd/include/lfd/StereoLineMatcher.hpp
  libs/lsd/include/lsd/lsd_burns.hpp
  libs/lsd/include/lsd/lsd_cc.hpp
  libs/lsd/include/lsd/lsd_cc_base.hpp
  libs/lsd/include/lsd/lsd_cp.hpp
  libs/lsd/include/lsd/lsd_fbw.hpp
  libs/lsd/include/lsd/lsd_fgioi.hpp
Due: clang-format

Fixed old style casts
  apps/line_analyzer/CMakeLists.txt
  examples/imgproc/grad_test.cpp
  examples/other/opencv_features.cpp
  examples/other/utils.h
  libs/edge/include/edge/nms.hpp
  libs/lfd/include/lfd/FeatureFilter.hpp
  libs/lfd/include/lfd/MotionLineFilter.hpp
  libs/lfd/include/lfd/lineMatching.hpp
  libs/lsd/include/lsd/lsd_burns.hpp
  libs/lsd/include/lsd/lsd_cc_base.hpp
  libs/lsd/include/lsd/lsd_fbw.hpp
  third-party/CMakeLists.txt
  third-party/qplot/CMakeLists.txt
  third-party/qplot/include/qplot/qcustomplot.h
  third-party/qplot/src/qcustomplot.cpp
  third-party/qplot3d/CMakeLists.txt
  third-party/qplot3d/src/qwt3d_autoscaler.cpp
  third-party/qplot3d/src/qwt3d_coordsys.cpp
  third-party/qplot3d/src/qwt3d_lighting.cpp
  third-party/qplot3d/src/qwt3d_types.cpp
Due: clang-format

Fix -Woverloaded-virtual warnings
  evaluation/performance/gpuConv.cpp
  evaluation/performance/gpuFFT.cpp
  evaluation/performance/gradient.cpp
  evaluation/performance/lsd.cpp
  evaluation/performance/nms.cpp
  evaluation/performance/threshold.cpp
  libs/imgproc/include/imgproc/rcmg.hpp
  third-party/qplot3d/include/qplot3d/qwt3d_color.h
Due: clang-format

removed warnings Wshadow
  apps/line_analyzer/controlwindow.cpp
  evaluation/performance/lsd.cpp
  evaluation/thesis/filter_results.cpp
  evaluation/thesis/gradient_noise.cpp
  evaluation/thesis/gradient_orientation.cpp
  evaluation/thesis/gradient_performance.cpp
  evaluation/thesis/image_denoise.cpp
  evaluation/thesis/old/line_fit_profiling.cpp
  evaluation/thesis/old/nms_results.cpp
  evaluation/thesis/spe_precision.cpp
  libs/edge/include/edge/edge_simple.hpp
  libs/edge/include/edge/nms.hpp
  libs/eval/include/eval/cv_data_provider.hpp
  libs/eval/src/performance.cpp
  libs/eval/tests/test_data_provider.cpp
  libs/eval/tests/test_task.cpp
  libs/imgproc/include/imgproc/gradient_adapter.hpp
  libs/lfd/include/lfd/FeatureDescriptor.hpp
  libs/lsd/include/lsd/lsd_burns.hpp
  libs/lsd/include/lsd/lsd_cc.hpp
  libs/utility/include/utility/task.hpp
  libs/utility/src/performance.cpp
  third-party/qplot/include/qplot/PlotWindow.h
  third-party/qplot3d/include/qplot3d/qwt3d_surfaceplot.h
Due: clang-format

Fix nullptr warning
  apps/line_analyzer/controlwindow.cpp
  apps/line_analyzer/controlwindow.h
  apps/line_analyzer/latool.h
  apps/line_analyzer/pofuncplot.cpp
  apps/line_analyzer/pofuncplot.h
  apps/line_analyzer/precisionoptimizer.cpp
  apps/line_analyzer/precisionoptimizer.h
  apps/line_analyzer/preprocessing.h
  apps/line_analyzer/profileanalyzer.cpp
  apps/line_analyzer/profileanalyzer.h
  apps/line_analyzer/quiver.h
  examples/edge/edge_test.cpp
  examples/edge/nfa_test.cpp
  examples/edge/pattern_test.cpp
  examples/imgproc/grad_test.cpp
  examples/lsd/lsd_cc_test.cpp
  examples/thesis/edge_seg.cpp
  libs/imgproc/include/imgproc/mean.hpp
  libs/lfd/include/lfd/StereoLineMatcher.hpp
  libs/lsd/include/lsd/impl/kht.h
  libs/lsd/include/lsd/lsd_burns.hpp
  libs/lsd/include/lsd/lsd_cc.hpp
  libs/lsd/src/kht_impl.cpp
  libs/utility/include/utility/matlab_helpers.hpp
  libs/utility/include/utility/value.hpp
  third-party/qplot/include/qplot/PlotWindow.h
  third-party/qplot/include/qplot/qcustomplot.h
  third-party/qplot3d/include/qplot3d/qwt3d_drawable.h
  third-party/qplot3d/include/qplot3d/qwt3d_enrichment.h
  third-party/qplot3d/include/qplot3d/qwt3d_openglhelper.h
  third-party/qplot3d/include/qplot3d/qwt3d_plot.h
  third-party/qplot3d/include/qplot3d/qwt3d_surfaceplot.h
Due: clang-format

improved cmake debugging
  .vscode/find_cmake_targets.sh
  .vscode/find_cmake_test_targets.sh
  .vscode/launch.json
  .vscode/tasks.json
  build_clean.sh
Due: none

Final fixes for warning reduction PR
  .gitignore
  docker/base/common_packages.txt
  libs/edge/tests/test_nms.cpp
  libs/lsd/include/lsd/lsd_cc.hpp
  libs/lsd/tests/test_lsd_implementations.cpp
  tools/cmake/LineExtractionUtils.cmake
Due: clang-format

Interpret warnings as errors
  tools/cmake/LineExtractionUtils.cmake
Due: none

bazel files
  .bazelrc
  MODULE.bazel
  libs/edge/BUILD.bazel
  libs/eval/BUILD.bazel
  libs/geometry/BUILD.bazel
  libs/imgproc/BUILD.bazel
  libs/lfd/BUILD.bazel
  libs/lsd/BUILD.bazel
  libs/utility/BUILD.bazel
  tools/bazel/BUILD.bazel
  tools/bazel/copts.bzl
Due: none

Fixed some warnings and update to opencv 4.12.0
  libs/geometry/src/tr.c
  tools/cmake/extern_opencv.cmake
Due: clang-format

Improved WSL setup
  .vscode/settings.json
  tools/scripts/check_dev_status.sh
  tools/scripts/setup_local_dev.sh
Due: none

Update docs
  README.md
  docker/README.md
  docs/WSL_SETUP.md
Due: none

Add extension installer and fixed some minor issues
  .devcontainer/devcontainer.json
  .vscode/settings.json
  tools/scripts/setup_local_dev.sh
Due: none

Improved setup script
  tools/scripts/setup_local_dev.sh
Due: none

Update copilot instructions
  .github/copilot-instructions.md
Due: none

Improved wsl setup
  .devcontainer/scripts/post_start.sh
  .project_env
  README.md
  docs/WSL/GIT_CREDENTIALS_WSL.md
  docs/WSL/WSL_SETUP.md
  tools/scripts/setup_local_dev.sh
Due: none

updated deps + turbo jpeg fix
  .bazelrc
  BAZEL_STATUS.md
  MODULE.bazel
  libs/geometry/BUILD.bazel
  tools/bazel/copts.bzl
Due: none

fix issues for newer openCV version
  libs/edge/tests/test_zc.cpp
  libs/imgproc/tests/test_susan.cpp
Due: clang-format

Enable line analyzer build
  .gitignore
  .project_env
  apps/line_analyzer/BUILD.bazel
  libs/geometry/BUILD.bazel
  third-party/qplot/BUILD.bazel
  third-party/qplot3d/BUILD.bazel
  tools/bazel/qt5.bzl
  tools/bazel/third_party/qt5.BUILD
Due: none

fix local setup and update docu
  .github/copilot-instructions.md
  .vscode/settings.json
  BAZEL.md
  BAZEL_KNOWN_ISSUES.md
  BAZEL_QUICKSTART.md
  BAZEL_STATUS.md
  BUILD.bazel
  README.md
  docker/README.md
  docker/devenv/entrypoint.sh
  docs/BAZEL.md
  docs/BAZEL_BUILD.md
  docs/CMAKE.md
  docs/DOCKER.md
  docs/WSL.md
  docs/WSL/GIT_CREDENTIALS_WSL.md
  docs/WSL/WSL_SETUP.md
  tools/scripts/check_dev_status.sh
  tools/scripts/detect_bazel_features.sh
  tools/scripts/setup_local_dev.sh
Due: none

Path conditions:
  clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(tools/conan/conan-index)) and not ((?x)(
  ^bazel-*|
  ^external/.*
)
)
  yamllint: any of: \.(yaml|yml)$, but not: (?x)(
  ^bazel-*|
  ^external/.*
)

  actionlint: any of: ^.github/workflows/ and \.(yaml|yml)$ and not ((?x)(
  ^bazel-*|
  ^external/.*
)
)
  ruff-check: any of: \.py$, but not: (?x)(
  ^bazel-*|
  ^external/.*
)

  ruff-format: any of: \.py$, but not: (?x)(
  ^bazel-*|
  ^external/.*
)

