Repository waterben/LineExtraction: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yamllint, actionlint, ruff-check, ruff-format

clang-format:
  name: Format C++ files
  entry: clang-format
  language: system
  args:
  - -i
  - -Werror
  - -fallback-style=none

yamllint:
  name: Lint YAML files
  description: This hook runs yamllint.
  entry: yamllint
  language: python
  args:
  - --format
  - parsable
  - --strict
  - -c
  - .yamllint.yml
  additional_dependencies: []

actionlint:
  name: Lint GitHub Workflows
  description: Runs actionlint to lint GitHub Actions workflow files
  language: system
  entry: env SHELLCHECK_OPTS='--severity=warning --exclude=SC2215' actionlint

ruff-check:
  name: ruff check
  description: Run 'ruff check'
  entry: ruff
  language: python
  args:
  - check
  - --force-exclude

ruff-format:
  name: ruff format
  description: Run 'ruff format'
  entry: ruff
  language: python
  args:
  - format
  - --force-exclude

Fix naming for detector profile
  apps/line_analyzer/README.md
  apps/line_analyzer/extensions/detector_profile/README.md
  apps/line_analyzer/extensions/detector_profile/detector_profile_panel.cpp
  apps/line_analyzer/extensions/detector_profile/detector_profile_panel.h
  apps/line_analyzer/extensions/detector_profile/detector_profile_panel.ui
  apps/line_analyzer/extensions/image_analyzer/README.md
  apps/line_analyzer/extensions/image_analyzer/image_analyzer_panel.cpp
  apps/line_analyzer/src/analyzer.cpp
  libs/algorithm/README.md
Due: clang-format

minor fixes and cleanup
  apps/line_analyzer/BUILD.bazel
  libs/algorithm/python/src/algorithm_binding.cpp
  libs/algorithm/python/src/algorithm_binding.hpp
  libs/algorithm/python/tests/test_le_algorithm.py
  param_set_state.md
Due: clang-format, ruff-check, ruff-format

Add geometry binding
  libs/geometry/python/BUILD.bazel
  libs/geometry/python/src/geometry3d_binding.cpp
  libs/geometry/python/src/geometry_binding.hpp
  libs/geometry/python/src/module_le_geometry.cpp
  libs/geometry/python/tests/test_le_geometry.py
Due: clang-format, ruff-check, ruff-format

Extend img proc bindings
  libs/imgproc/python/BUILD.bazel
  libs/imgproc/python/src/filter_binding.hpp
  libs/imgproc/python/src/gradient_extra_binding.cpp
  libs/imgproc/python/src/image_operator_binding.cpp
  libs/imgproc/python/src/laplace_binding.cpp
  libs/imgproc/python/src/module_le_imgproc.cpp
  libs/imgproc/python/tests/test_le_imgproc.py
Due: clang-format, ruff-check, ruff-format

Add extended imgproc bindings
  libs/imgproc/include/imgproc/quadratureG2.hpp
  libs/imgproc/python/BUILD.bazel
  libs/imgproc/python/src/filter_binding.hpp
  libs/imgproc/python/src/module_le_imgproc.cpp
  libs/imgproc/python/src/quadrature_binding.cpp
  libs/imgproc/python/tests/test_le_imgproc.py
Due: clang-format, ruff-check, ruff-format

updated readmes abd unit tests
  libs/algorithm/python/README.md
  libs/eval/python/README.md
  libs/geometry/python/README.md
  libs/imgproc/README.md
  libs/imgproc/python/README.md
  libs/imgproc/python/tests/test_le_imgproc.py
Due: ruff-check, ruff-format

ignore cmake build folder for bazel
  .bazelignore
Due: none

Minor fixes for notebooks
  examples/notebooks/demo_pytorch_esd.ipynb
  examples/notebooks/demo_rerun_lsd.ipynb
  examples/notebooks/intro_cv_primer.ipynb
  examples/notebooks/intro_line_extraction_overview.ipynb
Due: none

Minor cleanup
  .gitignore
  docs/NextSteps.md
Due: none

lfd bindings + demos + bugfixes
  README.md
  docs/BAZEL.md
  docs/JUPYTER.md
  docs/RERUN.md
  evaluation/README.md
  evaluation/python/BUILD.bazel
  evaluation/python/README.md
  evaluation/python/reports/lbd_benchmark_report.md
  evaluation/python/tools/LBD_BENCHMARK.md
  evaluation/python/tools/lbd_benchmark.py
  evaluation/python/tools/lbd_param_sweep.py
  examples/README.md
  examples/notebooks/demo_line_features.ipynb
  libs/lfd/BUILD.bazel
  libs/lfd/README.md
  libs/lfd/include/lfd/FeatureDescriptorLBD.hpp
  libs/lfd/include/lfd/FeatureDescriptorOpenCVLBD.hpp
  libs/lfd/python/BUILD.bazel
  libs/lfd/python/README.md
  libs/lfd/python/src/lfd_binding.cpp
  libs/lfd/python/src/lfd_binding.hpp
  libs/lfd/python/src/module_le_lfd.cpp
  libs/lfd/python/tests/test_le_lfd.py
  libs/lfd/tests/test_feature_descriptor.cpp
  python/BUILD.bazel
  python/lsfm/__init__.py
  python/lsfm/data.py
  python/lsfm/limap_compat.py
  resources/README.md
  tools/scripts/setup_hpatches.sh
Due: clang-format, ruff-check, ruff-format

New resource scripts and reconstruction demo
  evaluation/evaluation/python/reports/recon_benchmark.csv
  evaluation/python/BUILD.bazel
  evaluation/python/tools/diag_stereo.py
  evaluation/python/tools/reconstruction_benchmark.py
  examples/notebooks/demo_3d_reconstruction.ipynb
  examples/notebooks/demo_stereo_reconstruction.ipynb
  libs/geometry/include/geometry/stereocv.hpp
  libs/geometry/python/BUILD.bazel
  libs/geometry/python/src/geometry_binding.hpp
  libs/geometry/python/src/module_le_geometry.cpp
  libs/geometry/python/src/stereo_binding.cpp
  libs/geometry/python/tests/test_le_geometry.py
  libs/lfd/include/lfd/StereoLineFilter.hpp
  libs/lfd/python/src/lfd_binding.cpp
  libs/lfd/python/src/lfd_binding.hpp
  python/lsfm/BUILD.bazel
  python/lsfm/data.py
  python/lsfm/limap_compat.py
  python/lsfm/reconstruction.py
  tools/scripts/setup_eth3d.sh
  tools/scripts/setup_hypersim.sh
  tools/scripts/setup_mdb_dataset.sh
Due: clang-format, ruff-check, ruff-format

limap, fixes and readme update
  .python-version
  apps/line_analyzer/extensions/accuracy/README.md
  apps/line_analyzer/extensions/image_analyzer/image_analyzer_panel.cpp
  docs/JUPYTER.md
  docs/LIMAP.md
  examples/notebooks/demo_3d_reconstruction.ipynb
  libs/algorithm/include/algorithm/line_connect.hpp
  libs/algorithm/include/algorithm/line_continuity.hpp
  libs/algorithm/include/algorithm/line_merge.hpp
  libs/algorithm/include/algorithm/precision_optimize.hpp
  libs/algorithm/python/src/algorithm_binding.cpp
  libs/imgproc/python/README.md
  libs/lfd/include/lfd/FeatureDescriptorLBD.hpp
  libs/lfd/include/lfd/FeatureDescriptorOpenCVLBD.hpp
  libs/lfd/python/src/lfd_binding.cpp
  libs/lfd/python/src/module_le_lfd.cpp
  paramset_state.md
  pyproject.toml
  python/lsfm/limap_compat.py
  python/lsfm/reconstruction.py
  tools/cmake/LineExtractionUtils.cmake
  tools/cmake/extern_gtest.cmake
  tools/scripts/setup_hpatches.sh
  uv.lock
Due: clang-format, ruff-check, ruff-format

fixes for limap integration
  MODULE.bazel
  docs/LIMAP.md
  examples/notebooks/demo_3d_reconstruction.ipynb
  python/lsfm/reconstruction.py
  tools/bazel/requirements_lock.txt
Due: ruff-check, ruff-format

improved demos and minor fixes
  .pre-commit-config.yaml
  .vscode/find_debug_targets.sh
  docs/JUPYTER.md
  docs/LIMAP.md
  examples/notebooks/demo_multiview_reconstruction.ipynb
  examples/notebooks/demo_stereo_reconstruction_limap.ipynb
  examples/notebooks/plan.md
  pyproject.toml
  python/lsfm/data.py
  python/lsfm/limap_compat.py
  python/lsfm/reconstruction.py
  uv.lock
Due: yamllint, ruff-check, ruff-format

some demo improvements
  docker/base/common_packages.txt
  examples/notebooks/demo_multiview_reconstruction.ipynb
  examples/notebooks/demo_stereo_reconstruction_limap.ipynb
  python/lsfm/BUILD.bazel
  python/lsfm/notebook.py
  python/lsfm/reconstruction.py
Due: ruff-check, ruff-format

add office image to resources
  apps/line_analyzer/extensions/accuracy/accuracypanel.cpp
  apps/line_analyzer/extensions/accuracy/accuracypanel.h
  apps/line_analyzer/extensions/ground_truth_inspector/README.md
  apps/line_analyzer/extensions/ground_truth_inspector/ground_truth_inspector.cpp
  libs/lsd/python/BUILD.bazel
  libs/lsd/python/src/contour_lines_binding.cpp
  libs/lsd/python/src/contour_lines_binding.hpp
  libs/lsd/python/src/module_le_lsd.cpp
  resources/BUILD.bazel
  resources/README.md
  resources/office.png
  resources/synthetic_challenge.png
  resources/synthetic_simple.png
Due: clang-format

Improved copilot instructions
  .github/copilot-instructions.md
  .github/instructions/cpp.instructions.md
  .github/instructions/python.instructions.md
Due: none

Update tools for new resources
  apps/line_analyzer/BUILD.bazel
  python/lsfm/BUILD.bazel
  python/lsfm/data.py
Due: ruff-check, ruff-format

limap cleanup
  .python-version
  MODULE.bazel
  apps/line_analyzer/extensions/detector_profile/detector_profile_panel.ui
  docs/LIMAP.md
  examples/notebooks/demo_line_features.ipynb
  examples/notebooks/demo_multiview_reconstruction.ipynb
  examples/notebooks/demo_pytorch_esd.ipynb
  examples/notebooks/demo_stereo_reconstruction.ipynb
  examples/notebooks/demo_stereo_reconstruction_limap.ipynb
  examples/notebooks/plan.md
  libs/algorithm/python/src/algorithm_binding.cpp
  pyproject.toml
  python/lsfm/BUILD.bazel
  python/lsfm/limap_compat.py
  python/lsfm/reconstruction.py
  uv.lock
Due: clang-format, ruff-check, ruff-format

nfa extension
  apps/line_analyzer/BUILD.bazel
  apps/line_analyzer/CMakeLists.txt
  apps/line_analyzer/extensions/nfa_filter/README.md
  apps/line_analyzer/extensions/nfa_filter/nfa_filter.cpp
  apps/line_analyzer/extensions/nfa_filter/nfa_filter.h
  apps/line_analyzer/extensions/nfa_filter/nfa_filter.ui
  apps/line_analyzer/src/main.cpp
Due: clang-format

fix ui robustness issues
  apps/line_analyzer/src/analyzer.cpp
Due: clang-format

review an fixes
  README.md
  apps/line_analyzer/extensions/nfa_filter/nfa_filter.cpp
  apps/line_analyzer/extensions/nfa_filter/nfa_filter.h
  evaluation/README.md
  evaluation/python/BUILD.bazel
  evaluation/python/README.md
  evaluation/python/tools/diag_stereo.py
  libs/algorithm/python/src/algorithm_binding.cpp
  libs/geometry/include/geometry/camera.hpp
  libs/geometry/include/geometry/multiview.hpp
  libs/geometry/tests/test_multiview.cpp
  libs/lfd/include/lfd/FeatureDescriptorLBD.hpp
  libs/lfd/include/lfd/StereoLineFilter.hpp
  libs/lfd/python/src/lfd_binding.cpp
  libs/lfd/tests/test_feature_descriptor.cpp
  python/lsfm/reconstruction.py
  python/lsfm/synthetic/renderer.py
  resources/README.md
  tools/scripts/setup_eth3d.sh
  tools/scripts/setup_hpatches.sh
Due: clang-format, ruff-check, ruff-format

Fix issues found by copilot
  evaluation/python/README.md
  evaluation/python/tools/diag_stereo.py
  python/lsfm/data.py
  tools/scripts/setup_hpatches.sh
  tools/scripts/setup_mdb_dataset.sh
Due: ruff-check, ruff-format

Path conditions:
  clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(tools/conan/conan-index)) and not ((?x)(
  ^bazel-*|
  ^external/.*
)
)
  yamllint: any of: \.(yaml|yml)$, but not: (?x)(
  ^bazel-*|
  ^external/.*
)

  actionlint: any of: ^.github/workflows/ and \.(yaml|yml)$ and not ((?x)(
  ^bazel-*|
  ^external/.*
)
)
  ruff-check: any of: \.py$, but not: (?x)(
  ^bazel-*|
  ^external/.*
)

  ruff-format: any of: \.py$, but not: (?x)(
  ^bazel-*|
  ^external/.*
)

