Repository waterben/LineExtraction: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yamllint, actionlint, ruff-check, ruff-format

.pre-commit-config.yaml:

---
default_stages: [pre-commit]  # run hooks on commit unless specified otherwise
exclude: |
  (?x)(
    ^bazel-*|
    ^external/.*
  )
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: buildifier
        name: Format Bazel/Starlark files (buildifier)
        description: Format starlark code with buildifier
        entry: buildifier
        language: system
        types: [bazel]
      - id: clang-format
        name: Format C++ files
        entry: clang-format
        language: system
        types_or: [c, c++]
        args: [-i, -Werror, -fallback-style=none]
        exclude: ^(tools/conan/conan-index)
      - id: yamllint
        name: Lint YAML files
        description: This hook runs yamllint.
        entry: yamllint
        language: python
        types: [yaml]
        args: [--format, parsable, --strict, -c, .yamllint.yml]
        additional_dependencies: []
      - id: actionlint
        name: Lint GitHub Workflows
        description: Runs actionlint to lint GitHub Actions workflow files
        language: system
        types: [yaml]
        files: "^.github/workflows/"
        entry: env SHELLCHECK_OPTS='--severity=warning --exclude=SC2215' actionlint
      - id: ruff-check
        name: ruff check
        description: "Run 'ruff check'"
        entry: ruff
        language: python
        types_or: [python]
        args: [check, --force-exclude]
      - id: ruff-format
        name: ruff format
        description: "Run 'ruff format'"
        entry: ruff
        language: python
        types_or: [python]
        args: [format, --force-exclude]

edge lib binding
  examples/edge/python/BUILD.bazel
  examples/edge/python/edge_demo.py
  libs/edge/python/BUILD.bazel
  libs/edge/python/src/edge_binding.cpp
  libs/edge/python/src/edge_binding.hpp
  libs/edge/python/src/module_le_edge.cpp
  libs/edge/python/tests/test_le_edge.py
  pyproject.toml
Due: clang-format, ruff-check, ruff-format

Add python binding for LSD
  examples/lsd/python/BUILD.bazel
  examples/lsd/python/lsd_demo.py
  libs/geometry/include/geometry/line.hpp
  libs/lsd/python/BUILD.bazel
  libs/lsd/python/src/lsd_binding.cpp
  libs/lsd/python/src/lsd_binding.hpp
  libs/lsd/python/src/module_le_lsd.cpp
  libs/lsd/python/tests/test_le_lsd.py
Due: clang-format, ruff-check, ruff-format

Final bindings and docs update
  README.md
  libs/edge/python/README.md
  libs/eval/python/BUILD.bazel
  libs/eval/python/README.md
  libs/eval/python/src/eval_binding.cpp
  libs/eval/python/src/eval_binding.hpp
  libs/eval/python/src/module_le_eval.cpp
  libs/eval/python/tests/test_le_eval.py
  libs/geometry/python/BUILD.bazel
  libs/geometry/python/README.md
  libs/geometry/python/src/geometry_binding.cpp
  libs/geometry/python/src/geometry_binding.hpp
  libs/geometry/python/src/module_le_geometry.cpp
  libs/geometry/python/tests/test_le_geometry.py
  libs/imgproc/python/README.md
  libs/lsd/python/BUILD.bazel
  libs/lsd/python/README.md
  libs/lsd/python/src/lsd_binding.cpp
  libs/lsd/python/src/lsd_binding.hpp
  libs/lsd/python/src/module_le_lsd.cpp
Due: clang-format, ruff-check, ruff-format

Update examples/edge/python/edge_demo.py
  examples/edge/python/edge_demo.py
Due: ruff-check, ruff-format

fixing some issues
  libs/eval/python/src/eval_binding.cpp
  libs/eval/python/tests/test_le_eval.py
  libs/geometry/include/geometry/line.hpp
  libs/geometry/python/tests/test_le_geometry.py
  python/lsfm/data.py
  python/lsfm/tests/test_data.py
Due: clang-format, ruff-check, ruff-format

Add jupyter notebook docu + example
  .github/copilot-instructions.md
  README.md
  docs/DOCKER.md
  docs/JUPYTER.md
  examples/notebooks/line_extraction_bindings.ipynb
  pyproject.toml
Due: none

updated uv.lock
  uv.lock
Due: none

More jupyter notebooks
  examples/notebooks/cv_primer.ipynb
  examples/notebooks/pytorch_esd_demo.ipynb
  examples/notebooks/tutorial_1_fundamentals.ipynb
  examples/notebooks/tutorial_2_pipelines.ipynb
  examples/notebooks/tutorial_3_evaluation.ipynb
Due: none

readme update
  README.md
  docs/JUPYTER.md
  examples/README.md
Due: none

stubgen support
  .bazelignore
  .gitignore
  .vscode/settings.json
  libs/edge/python/BUILD.bazel
  libs/eval/python/BUILD.bazel
  libs/geometry/python/BUILD.bazel
  libs/imgproc/python/BUILD.bazel
  libs/lsd/python/BUILD.bazel
  tools/bazel/pybind.bzl
  tools/scripts/generate_stubs.sh
Due: none

support wheel/pip packages
  README.md
  docs/BAZEL.md
  python/BUILD.bazel
  python/lsfm/BUILD.bazel
  python/lsfm/__init__.py
  python/lsfm/py.typed
  tools/bazel/pybind.bzl
Due: ruff-check, ruff-format

improved subgen
  docs/BAZEL.md
  libs/edge/python/BUILD.bazel
  libs/eval/python/BUILD.bazel
  libs/geometry/python/BUILD.bazel
  libs/imgproc/python/BUILD.bazel
  libs/lsd/python/BUILD.bazel
  python/BUILD.bazel
  tools/bazel/BUILD.bazel
  tools/bazel/pybind.bzl
  tools/bazel/requirements.in
  tools/bazel/requirements_lock.txt
  tools/bazel/run_stubgen.py
  tools/bazel/stubgen.bzl
  tools/scripts/generate_stubs.sh
Due: ruff-check, ruff-format

Minor improvements
  python/lsfm/__init__.py
  tools/scripts/generate_stubs.sh
Due: ruff-check, ruff-format

Add release script and fix some version issues in bazel
  MODULE.bazel
  python/BUILD.bazel
  python/lsfm/__init__.py
  tools/scripts/release.sh
Due: ruff-check, ruff-format

improved script
  tools/scripts/release.sh
Due: none

release script and build improvements
  MODULE.bazel
  python/BUILD.bazel
  python/lsfm/__init__.py
  tools/scripts/release.sh
Due: ruff-check, ruff-format

some fixes for releases
  .gitignore
  tools/scripts/release.sh
Due: none

enable debug and release
  .bazelrc
  tools/bazel/copts.bzl
Due: none

add algorithm lib
  libs/CMakeLists.txt
  libs/algorithm/BUILD.bazel
  libs/algorithm/CMakeLists.txt
  libs/algorithm/README.md
  libs/algorithm/include/algorithm/accuracy_measure.hpp
  libs/algorithm/include/algorithm/ground_truth.hpp
  libs/algorithm/include/algorithm/line_connect.hpp
  libs/algorithm/include/algorithm/line_merge.hpp
  libs/algorithm/include/algorithm/param_search.hpp
  libs/algorithm/include/algorithm/precision_optimize.hpp
  libs/algorithm/include/algorithm/search_strategy.hpp
  libs/algorithm/python/BUILD.bazel
  libs/algorithm/python/README.md
  libs/algorithm/python/src/algorithm_binding.cpp
  libs/algorithm/python/src/algorithm_binding.hpp
  libs/algorithm/python/src/module_le_algorithm.cpp
  libs/algorithm/python/tests/test_le_algorithm.py
  libs/algorithm/tests/test_algorithm.cpp
  python/BUILD.bazel
  python/lsfm/__init__.py
Due: clang-format, ruff-check, ruff-format

add new img dbs and optimize tools
  docs/NextSteps.md
  evaluation/python/BUILD.bazel
  evaluation/python/README.md
  evaluation/python/tools/optimize_presets.py
  libs/utility/include/utility/test_images.hpp
  python/lsfm/data.py
  tools/bazel/requirements.in
  tools/bazel/requirements_lock.txt
  tools/scripts/convert_ground_truth.py
  tools/scripts/setup_wireframe.sh
  tools/scripts/setup_york_urban.sh
Due: clang-format, ruff-check, ruff-format

Intuitive param profiles
  examples/notebooks/tutorial_4_algorithm.ipynb
  libs/algorithm/BUILD.bazel
  libs/algorithm/README.md
  libs/algorithm/include/algorithm/detector_profile.hpp
  libs/algorithm/include/algorithm/image_analyzer.hpp
  libs/algorithm/python/README.md
  libs/algorithm/python/src/algorithm_binding.cpp
  libs/algorithm/python/src/algorithm_binding.hpp
  libs/algorithm/python/src/module_le_algorithm.cpp
  libs/algorithm/python/tests/test_le_algorithm.py
  libs/algorithm/src/detector_profile.cpp
  libs/algorithm/src/image_analyzer.cpp
  libs/algorithm/tests/test_detector_profile.cpp
Due: clang-format, ruff-check, ruff-format

Fix lsd pattern bug
  libs/algorithm/src/detector_profile.cpp
  libs/lsd/include/lsd/lsd_cp.hpp
  libs/lsd/tests/test_lsd_cp_crash.cpp
Due: clang-format

update optimizer tools
  docs/NextSteps.md
  evaluation/python/BUILD.bazel
  evaluation/python/results.md
  evaluation/python/tools/detector_statistics.py
  evaluation/python/tools/optimize_presets.py
Due: ruff-check, ruff-format

Add rerun python dep + demos
  examples/README.md
  examples/lsd/README.md
  examples/lsd/python/BUILD.bazel
  examples/lsd/python/rerun_lsd_demo.py
  examples/notebooks/rerun_lsd_demo.ipynb
  examples/other/README.md
  examples/other/python/BUILD.bazel
  examples/other/python/rerun_general_demo.py
  pyproject.toml
  tools/bazel/requirements.in
  tools/bazel/requirements_lock.txt
  tools/bazel/third_party/BUILD.bazel
  tools/bazel/third_party/rerun_pth_fix.py
  uv.lock
Due: ruff-check, ruff-format

Also include rerun sdk for C++ (optionally)
  .github/copilot-instructions.md
  MODULE.bazel
  docs/JUPYTER.md
  docs/RERUN.md
  examples/other/BUILD.bazel
  examples/other/README.md
  examples/other/src/rerun_demo.cpp
  tools/bazel/third_party/rerun_sdk.BUILD
  tools/bazel/third_party/rerun_sdk_no_ninja.patch
Due: clang-format

updated readmes
  README.md
  examples/README.md
Due: none

Language fix
  .github/copilot-instructions.md
  .github/instructions/cpp.instructions.md
  .github/instructions/python.instructions.md
  libs/edge/python/README.md
  libs/geometry/include/geometry/eigen2cv.hpp
  libs/geometry/python/README.md
  libs/lfd/include/lfd/MotionLineFilter.hpp
  libs/lfd/include/lfd/MotionPointFilter.hpp
  libs/lfd/include/lfd/lineMatching.hpp
  libs/lsd/python/README.md
  python/lsfm/data.py
Due: clang-format, ruff-check, ruff-format

fix import issue
  docs/RERUN.md
  examples/lsd/python/rerun_lsd_demo.py
  examples/other/python/rerun_general_demo.py
Due: ruff-check, ruff-format

Update MODULE.bazel
  MODULE.bazel
Due: none

Update examples/other/src/rerun_demo.cpp
  examples/other/src/rerun_demo.cpp
Due: clang-format

Fix issues in docs
  docs/RERUN.md
Due: none

update req_lock
  tools/bazel/requirements_lock.txt
Due: none

Improve app analyzer
  apps/line_analyzer/BUILD.bazel
  apps/line_analyzer/CMakeLists.txt
  apps/line_analyzer/README.md
  apps/line_analyzer/accuracypanel.cpp
  apps/line_analyzer/accuracypanel.h
  apps/line_analyzer/accuracypanel.ui
  apps/line_analyzer/analyseroptions.cpp
  apps/line_analyzer/connectionoptimizer.cpp
  apps/line_analyzer/connectionoptimizer.h
  apps/line_analyzer/continuityoptimizer.cpp
  apps/line_analyzer/continuityoptimizer.h
  apps/line_analyzer/continuityoptimizer.ui
  apps/line_analyzer/controlwindow.cpp
  apps/line_analyzer/controlwindow.h
  apps/line_analyzer/detectorprofilepanel.cpp
  apps/line_analyzer/detectorprofilepanel.h
  apps/line_analyzer/detectorprofilepanel.ui
  apps/line_analyzer/help_button.hpp
  apps/line_analyzer/imageanalyzerpanel.cpp
  apps/line_analyzer/imageanalyzerpanel.h
  apps/line_analyzer/imageanalyzerpanel.ui
  apps/line_analyzer/lineanalyser2d.cpp
  apps/line_analyzer/lineanalyser2d.h
  apps/line_analyzer/main.cpp
  apps/line_analyzer/pofuncplot.cpp
  apps/line_analyzer/pofuncplot.h
  apps/line_analyzer/precisionoptimizer.cpp
  apps/line_analyzer/preprocessing.cpp
  apps/line_analyzer/profileanalyzer.cpp
  apps/line_analyzer/quiver.cpp
  libs/algorithm/include/algorithm/line_connect.hpp
Due: clang-format

Add test image loader
  apps/line_analyzer/controlwindow.cpp
Due: clang-format

improve extensions
  apps/line_analyzer/BUILD.bazel
  apps/line_analyzer/extensions/accuracy/README.md
  apps/line_analyzer/extensions/accuracy/accuracypanel.cpp
  apps/line_analyzer/extensions/accuracy/accuracypanel.h
  apps/line_analyzer/extensions/accuracy/accuracypanel.ui
  apps/line_analyzer/extensions/lineanalyser2d/README.md
  apps/line_analyzer/extensions/lineanalyser2d/lineanalyser2d.cpp
  apps/line_analyzer/extensions/lineanalyser2d/lineanalyser2d.h
  apps/line_analyzer/extensions/lineanalyser2d/lineanalyser2d.ui
  apps/line_analyzer/extensions/precisionoptimizer/README.md
  apps/line_analyzer/extensions/precisionoptimizer/precisionoptimizer.cpp
  apps/line_analyzer/extensions/precisionoptimizer/precisionoptimizer.h
  apps/line_analyzer/extensions/precisionoptimizer/precisionoptimizer.ui
  apps/line_analyzer/src/controlwindow.cpp
  resources/BUILD.bazel
  resources/example_challenge.png
  resources/example_lines.png
  tools/scripts/generate_example_gt.py
Due: clang-format, ruff-check, ruff-format

Better readmes and instead of help test integrated a md viewer for readmes
  apps/line_analyzer/BUILD.bazel
  apps/line_analyzer/README.md
  apps/line_analyzer/extensions/accuracy/README.md
  apps/line_analyzer/extensions/accuracy/accuracypanel.cpp
  apps/line_analyzer/extensions/connectionoptimizer/README.md
  apps/line_analyzer/extensions/connectionoptimizer/connectionoptimizer.cpp
  apps/line_analyzer/extensions/continuityoptimizer/README.md
  apps/line_analyzer/extensions/continuityoptimizer/continuityoptimizer.cpp
  apps/line_analyzer/extensions/detectorprofile/README.md
  apps/line_analyzer/extensions/detectorprofile/detectorprofilepanel.cpp
  apps/line_analyzer/extensions/imageanalyzer/README.md
  apps/line_analyzer/extensions/imageanalyzer/imageanalyzerpanel.cpp
  apps/line_analyzer/extensions/lineanalyser2d/README.md
  apps/line_analyzer/extensions/lineanalyser2d/analyseroptions.cpp
  apps/line_analyzer/extensions/lineanalyser2d/lineanalyser2d.cpp
  apps/line_analyzer/extensions/pofuncplot/README.md
  apps/line_analyzer/extensions/pofuncplot/pofuncplot.cpp
  apps/line_analyzer/extensions/precisionoptimizer/README.md
  apps/line_analyzer/extensions/precisionoptimizer/precisionoptimizer.cpp
  apps/line_analyzer/extensions/profileanalyzer/README.md
  apps/line_analyzer/extensions/profileanalyzer/profileanalyzer.cpp
  apps/line_analyzer/src/controlwindow.cpp
  apps/line_analyzer/src/help_button.hpp
  apps/line_analyzer/src/help_viewer.cpp
  apps/line_analyzer/src/help_viewer.h
  apps/line_analyzer/src/markdown_converter.hpp
  apps/line_analyzer/src/preprocessing.cpp
  apps/line_analyzer/src/quiver.cpp
Due: clang-format

Remove obsolete files
  apps/line_analyzer/extensions/detectorprofile/detectorprofilepanel.cpp
  apps/line_analyzer/extensions/detectorprofile/detectorprofilepanel.h
  apps/line_analyzer/extensions/imageanalyzer/imageanalyzerpanel.cpp
  apps/line_analyzer/extensions/imageanalyzer/imageanalyzerpanel.h
  apps/line_analyzer/extensions/lineanalyser2d/analyseroptions.cpp
  apps/line_analyzer/extensions/lineanalyser2d/analyseroptions.h
  apps/line_analyzer/extensions/lineanalyser2d/lineanalyser2d.cpp
  apps/line_analyzer/extensions/lineanalyser2d/lineanalyser2d.h
  apps/line_analyzer/extensions/precisionoptimizer/precisionoptimizer.cpp
  apps/line_analyzer/extensions/precisionoptimizer/precisionoptimizer.h
  apps/line_analyzer/extensions/profileanalyzer/profileanalyzer.cpp
Due: clang-format
