Repository waterben/LineExtraction: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yamllint, actionlint, ruff-check, ruff-format

clang-format:
  name: Format C++ files
  entry: clang-format
  language: system
  args:
  - -i
  - -Werror
  - -fallback-style=none

yamllint:
  name: Lint YAML files
  description: This hook runs yamllint.
  entry: yamllint
  language: python
  args:
  - --format
  - parsable
  - --strict
  - -c
  - .yamllint.yml
  additional_dependencies: []

actionlint:
  name: Lint GitHub Workflows
  description: Runs actionlint to lint GitHub Actions workflow files
  language: system
  entry: env SHELLCHECK_OPTS='--severity=warning --exclude=SC2215' actionlint

ruff-check:
  name: ruff check
  description: Run 'ruff check'
  entry: ruff
  language: python
  args:
  - check
  - --force-exclude

ruff-format:
  name: ruff format
  description: Run 'ruff format'
  entry: ruff
  language: python
  args:
  - format
  - --force-exclude

Update eval docu
  libs/eval/README.md
  libs/eval/include/eval/cv_data_provider.hpp
  libs/eval/include/eval/cv_measure.hpp
  libs/eval/include/eval/cv_performance_task.hpp
  libs/eval/include/eval/data_provider.hpp
  libs/eval/include/eval/eval_app.hpp
  libs/eval/include/eval/input_task.hpp
  libs/eval/include/eval/measure.hpp
  libs/eval/include/eval/measure_task.hpp
  libs/eval/include/eval/performance_measure.hpp
  libs/eval/include/eval/performance_task.hpp
  libs/eval/include/eval/task.hpp
Due: clang-format

Add evaluation doc
  evaluation/README.md
  evaluation/performance/README.md
  evaluation/thesis/color_test_rcmg.cpp
  evaluation/thesis/color_test_sobel.cpp
  evaluation/thesis/even_parameter_test.cpp
  evaluation/thesis/filter_results.cpp
  evaluation/thesis/gradient_noise.cpp
  evaluation/thesis/gradient_orientation.cpp
  evaluation/thesis/image_denoise.cpp
  evaluation/thesis/lsd_precision.cpp
  evaluation/thesis/phase_dc.cpp
  evaluation/thesis/spe_precision.cpp
Due: clang-format

Updated readmes
  README.md
  apps/README.md
  apps/line_analyzer/README.md
  libs/edge/README.md
  libs/eval/README.md
  libs/geometry/README.md
  libs/imgproc/README.md
  libs/lfd/README.md
  libs/lsd/README.md
  libs/utility/README.md
Due: none

improved doc generator
  BUILD.bazel
  Doxyfile.in
  tools/scripts/generate_doxygen.sh
Due: none

update .gitignore
  .gitignore
Due: none

Minor cleanups
  libs/eval/include/eval/runfiles.hpp
  libs/lsd/include/lsd/ld_base.hpp
  libs/lsd/include/lsd/lsd_base.hpp
  libs/lsd/include/lsd/lsd_burns.hpp
  libs/lsd/include/lsd/lsd_edlz.hpp
  libs/lsd/include/lsd/lsd_fgioi.hpp
  libs/utility/include/utility/test_images.hpp
Due: clang-format

Minor fixes
  evaluation/thesis/color_test_rcmg.cpp
  evaluation/thesis/color_test_sobel.cpp
  evaluation/thesis/even_parameter_test.cpp
  evaluation/thesis/filter_results.cpp
  evaluation/thesis/gradient_noise.cpp
  evaluation/thesis/gradient_orientation.cpp
  evaluation/thesis/image_denoise.cpp
  evaluation/thesis/lsd_precision.cpp
  evaluation/thesis/phase_dc.cpp
  evaluation/thesis/spe_precision.cpp
  libs/edge/include/edge/nms.hpp
  libs/utility/include/utility/format.hpp
Due: clang-format

Extended unit tests
  libs/edge/tests/test_edge_simple.cpp
  libs/edge/tests/test_fit.cpp
  libs/edge/tests/test_hysteresis.cpp
  libs/edge/tests/test_spe.cpp
  libs/geometry/tests/test_vision.cpp
  libs/imgproc/tests/test_edge_cases.cpp
  libs/lsd/tests/test_lsd_base.cpp
  libs/lsd/tests/test_lsd_edge_cases.cpp
  libs/utility/BUILD.bazel
  libs/utility/tests/test_test_images.cpp
Due: clang-format

Update libs/lsd/tests/test_lsd_edge_cases.cpp
  libs/lsd/tests/test_lsd_edge_cases.cpp
Due: clang-format

Update libs/edge/tests/test_fit.cpp
  libs/edge/tests/test_fit.cpp
Due: clang-format

Update libs/geometry/tests/test_vision.cpp
  libs/geometry/tests/test_vision.cpp
Due: clang-format

Update libs/lsd/tests/test_lsd_base.cpp
  libs/lsd/tests/test_lsd_base.cpp
Due: clang-format

Update libs/imgproc/tests/test_edge_cases.cpp
  libs/imgproc/tests/test_edge_cases.cpp
Due: clang-format

Update libs/edge/tests/test_spe.cpp
  libs/edge/tests/test_spe.cpp
Due: clang-format

break gui stuff from utility
  examples/edge/BUILD.bazel
  examples/imgproc/BUILD.bazel
  examples/imgproc/fft_test.cpp
  libs/utility/BUILD.bazel
  libs/utility/README.md
  libs/utility/include/utility/camera_utilities.hpp
  libs/utility/include/utility/matlab_helpers.hpp
  libs/utility/include/utility/matlab_helpers_gui.hpp
  libs/utility/include/utility/value.hpp
Due: clang-format

Update libs/lsd/include/lsd/lsd_edlz.hpp
  libs/lsd/include/lsd/lsd_edlz.hpp
Due: clang-format

Add missing changes for last cleanup
  .bazelrc
Due: none

Update edge lib doc
  libs/edge/include/edge/draw.hpp
  libs/edge/include/edge/edge_drawing.hpp
  libs/edge/include/edge/edge_segment.hpp
  libs/edge/include/edge/edge_source.hpp
  libs/edge/include/edge/fit.hpp
  libs/edge/include/edge/hysteresis.hpp
  libs/edge/include/edge/index.hpp
  libs/edge/include/edge/line_tracer.hpp
  libs/edge/include/edge/nfa.hpp
  libs/edge/include/edge/nms.hpp
  libs/edge/include/edge/segment_sampler.hpp
  libs/edge/include/edge/spe.hpp
  libs/edge/include/edge/split.hpp
  libs/edge/include/edge/threshold.hpp
  libs/edge/include/edge/threshold_estimator.hpp
  libs/edge/include/edge/zc.hpp
Due: clang-format

Add license file
  LICENSE
Due: none

Add missing eval doc strings
  libs/eval/include/eval/cv_data_provider.hpp
  libs/eval/include/eval/cv_measure.hpp
  libs/eval/include/eval/cv_performance_task.hpp
  libs/eval/include/eval/eval_app.hpp
  libs/eval/include/eval/input_task.hpp
  libs/eval/include/eval/measure.hpp
  libs/eval/include/eval/measure_task.hpp
  libs/eval/include/eval/performance_measure.hpp
  libs/eval/include/eval/performance_task.hpp
  libs/eval/include/eval/results.hpp
Due: clang-format

geometry lib cleanup
  docs/BAZEL.md
  examples/geometry/BUILD.bazel
  examples/geometry/CMakeLists.txt
  examples/geometry/README.md
  examples/geometry/render_gl_tr_test.cpp
  libs/geometry/BUILD.bazel
  libs/geometry/CMakeLists.txt
  libs/geometry/include/geometry/camera.hpp
  libs/geometry/include/geometry/line.hpp
  libs/geometry/include/geometry/line3.hpp
  libs/geometry/include/geometry/plane.hpp
  libs/geometry/include/geometry/polygon.hpp
  libs/geometry/include/geometry/render_gl.hpp
  libs/geometry/include/geometry/visualizeRviz.hpp
  libs/geometry/src/render_gl.cpp
  libs/geometry/src/tr.c
  libs/geometry/src/tr.h
Due: clang-format

cleanup imgproc and moved contrib stuff to contrib
  libs/imgproc/BUILD.bazel
  libs/imgproc/CMakeLists.txt
  libs/imgproc/include/imgproc/interpolate.hpp
  libs/imgproc/include/imgproc/pc_matlab.hpp
  libs/imgproc/include/imgproc/rcmg.hpp
  libs/imgproc/include/imgproc/susan.hpp
  third-party/contrib/BUILD.bazel
  third-party/contrib/CMakeLists.txt
  third-party/contrib/README.md
  third-party/contrib/imgproc_external/BUILD.bazel
  third-party/contrib/imgproc_external/CMakeLists.txt
  third-party/contrib/imgproc_external/README.md
  third-party/contrib/imgproc_external/include/rcmg_core.hpp
  third-party/contrib/imgproc_external/include/susan_core.hpp
Due: clang-format

Improve lfd docu
  libs/lfd/include/lfd/FeatureDescriptorLBD.hpp
  libs/lfd/include/lfd/FeatureMatcher.hpp
  libs/lfd/include/lfd/FeatureTools.hpp
  libs/lfd/include/lfd/GenericDescriptor.hpp
  libs/lfd/include/lfd/GlobalRotationFilter.hpp
  libs/lfd/include/lfd/LRDescriptor.hpp
  libs/lfd/include/lfd/MotionDescriptor.hpp
  libs/lfd/include/lfd/MotionLineFilter.hpp
  libs/lfd/include/lfd/MotionLineMatcher.hpp
  libs/lfd/include/lfd/MotionPointFilter.hpp
  libs/lfd/include/lfd/MotionPointMatcher.hpp
  libs/lfd/include/lfd/PairwiseLineMatcher.hpp
  libs/lfd/include/lfd/StereoLineFilter.hpp
  libs/lfd/include/lfd/StereoLineMatcher.hpp
  libs/lfd/include/lfd/StereoPointFilter.hpp
  libs/lfd/include/lfd/StereoPointMatcher.hpp
  libs/lfd/include/lfd/lineMatching.hpp
Due: clang-format

update lsd docu
  libs/lsd/include/lsd/lsd_cc.hpp
  libs/lsd/include/lsd/lsd_cc_base.hpp
  libs/lsd/include/lsd/lsd_cp.hpp
  libs/lsd/include/lsd/lsd_ep.hpp
  libs/lsd/include/lsd/lsd_fbw.hpp
  libs/lsd/include/lsd/lsd_hcv.hpp
  libs/lsd/include/lsd/lsd_ld.hpp
Due: clang-format

Fix errors
  examples/thesis/zc_example.cpp
  libs/edge/include/edge/edge_source.hpp
  libs/eval/include/eval/cv_performance_task.hpp
Due: clang-format

Fixes for utility
  libs/utility/include/utility/string_table.hpp
  libs/utility/include/utility/value.hpp
  libs/utility/include/utility/value_manager.hpp
  libs/utility/src/string_table.cpp
Due: clang-format

Warning und build fixes
  evaluation/thesis/BUILD.bazel
  libs/edge/include/edge/fit.hpp
  libs/edge/include/edge/nfa.hpp
  libs/edge/include/edge/spe.hpp
  libs/geometry/include/geometry/line.hpp
  libs/imgproc/include/imgproc/quadratureG2.hpp
  libs/lsd/include/lsd/lsd_burns.hpp
  third-party/contrib/imgproc_external/include/rcmg_core.hpp
Due: clang-format

Minor updates and cleanup
  README.md
  evaluation/README.md
  evaluation/python/README.md
  examples/README.md
  examples/geometry/BUILD.bazel
  examples/geometry/src/obj_test.cpp
  libs/edge/README.md
  libs/geometry/README.md
  libs/geometry/include/geometry/object3d.hpp
  libs/imgproc/README.md
  libs/utility/README.md
Due: clang-format

feat(imgproc): add Python bindings for FilterI hierarchy
  MODULE.bazel
  libs/imgproc/python/BUILD.bazel
  libs/imgproc/python/README.md
  libs/imgproc/python/src/filter_binding.cpp
  libs/imgproc/python/src/filter_binding.hpp
  libs/imgproc/python/src/module_le_imgproc.cpp
  libs/imgproc/python/src/ndarray_converter.hpp
  libs/imgproc/python/tests/test_filter_binding.cpp
  libs/imgproc/python/tests/test_le_imgproc.py
  tools/bazel/copts.bzl
  tools/bazel/pybind.bzl
  tools/bazel/requirements_lock.txt
Due: clang-format, ruff-check, ruff-format

feat(python): replace custom ndarray_converter with cvnp
  MODULE.bazel
  libs/imgproc/python/BUILD.bazel
  libs/imgproc/python/src/filter_binding.cpp
  libs/imgproc/python/src/ndarray_converter.hpp
  libs/imgproc/python/tests/test_le_imgproc.py
  tools/bazel/registry/modules/cvnp/1.0.0/MODULE.bazel
  tools/bazel/registry/modules/cvnp/1.0.0/overlay/BUILD.bazel
  tools/bazel/registry/modules/cvnp/1.0.0/source.json
  tools/bazel/registry/modules/cvnp/metadata.json
Due: clang-format, ruff-check, ruff-format

Add lsfm python lib with general tooling
  python/lsfm/BUILD.bazel
  python/lsfm/__init__.py
  python/lsfm/data.py
  python/lsfm/tests/test_data.py
Due: ruff-check, ruff-format

filter binding templates
  libs/imgproc/python/src/filter_binding.cpp
  libs/imgproc/python/src/filter_binding.hpp
  libs/imgproc/python/src/module_le_imgproc.cpp
  libs/imgproc/python/tests/test_le_imgproc.py
Due: clang-format, ruff-check, ruff-format

improved github instructions
  .github/copilot-instructions.md
Due: none

simple demo and some bazel setup improvements
  docs/BAZEL.md
  examples/imgproc/python/BUILD.bazel
  examples/imgproc/python/filter_demo.py
  tools/bazel/requirements.in
  tools/bazel/requirements_lock.txt
Due: ruff-check, ruff-format

Path conditions:
  clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(tools/conan/conan-index)) and not ((?x)(
  ^bazel-*|
  ^external/.*
)
)
  yamllint: any of: \.(yaml|yml)$, but not: (?x)(
  ^bazel-*|
  ^external/.*
)

  actionlint: any of: ^.github/workflows/ and \.(yaml|yml)$ and not ((?x)(
  ^bazel-*|
  ^external/.*
)
)
  ruff-check: any of: \.py$, but not: (?x)(
  ^bazel-*|
  ^external/.*
)

  ruff-format: any of: \.py$, but not: (?x)(
  ^bazel-*|
  ^external/.*
)

